.qDiv {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
}

.nameunderline {
  font-size: 17px;
  margin: 0;
}

.nameunderline::after  {
  display: block;
  margin-top: 10px;
  width: 120px;
  height: 2px;
  background-color: #00ab36;
  content: '';
}

.ul {
  padding-inline-start: 0;
  list-style-type: none;
}

.q {
  display: block;
  width: 592px;
  border: 1px solid #ebebeb;
  padding: 13px;
  margin: 10px 0;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 3px 2px -2px rgb(0 0 0 / 13%);
  -webkit-box-shadow: 0 3px 2px -2px rgb(0 0 0 / 13%);
  -moz-box-shadow: 0 3px 2px -2px rgba(0,0,0,.13);
}

.correct {
  background-color: #297dfe;
  color: white;
}

.wrong {
  background-color: #ff5028;
  color: white;
}

p {
  margin: 0;
}

.ansarea {
  display: none; 
  background: #f5f5f5; 
  width: 586px;
  padding: 17px; 
  border-radius: 3px;
}

.show_ansarea {
  display: block; 
}

.c_ansmsg {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  padding: 0;
  margin-top: 0;
  margin-bottom: 10px;
}

.c_ansmsg::after {
  display: block;
  margin-top: 3px;
  height: 3px;
  width: 50px;
  background-color: #297dfe;
  content: '';
}

.w_ansmsg {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  padding: 0;
  margin-top: 0;
  margin-bottom: 10px;
}

.w_ansmsg::after {
  display: block;
  margin-top: 3px;
  height: 3px;
  width: 50px;
  background-color: #ff5028;
  content: '';
}

.ansexp {
  padding: 0;
  margin: 0;
}

.oneclick {
  pointer-events: none;
}